/* Estilos para el modal */
.modal {
    display: none; /* El modal está oculto por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegúrate de que esté por encima del resto del contenido */
}

/* Estilos para el contenido del modal */
.modal-content {
    background: white;
    padding: 20px;
    width: 300px; /* Ancho del modal */
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    max-height: 80vh;
    overflow-y: auto; /* Permite que el contenido se desplace si es necesario */
}

/* Estilo para el encabezado del modal */
.modal-content h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Línea gris separadora */
.modal-content hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 15px 0;
}

/* Botones del modal */
.modal-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.modal-buttons button {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    font-size: 14px;
}

/* Estilo específico para el botón Cancelar */
#cancel-delete {
    background: white;
    border: 2px solid #d9534f;
    color: #d9534f;
}

#cancel-delete:hover {
    background: #f8d7da;
}

/* Estilo específico para el botón Aceptar */
#confirm-delete {
    background-color: #1f2937;
    color: white;
}

#confirm-delete:hover {
    background-color: #333;
}

/* Estilo para el botón */
#open-download-modal {
    width: 250px;
    height: 40px;
    border-radius: 500px;
    background-color: #2c3e50;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px 5px;
    box-sizing: border-box;
    gap: -40px;
    cursor: pointer;
    border: none;
    color: white;
    margin-top: 60px;
    margin-left: 10px;
    font-size: 14px;
    display: flex;
    gap: 10px;
    position: fixed; top: 20px; right: 20px;margin-top: 70px;margin-right: 30px;
}

/* Ícono dentro del botón */
#open-download-modal i {
    font-size: 16px;
}

/* Usa los estilos de modal que ya proporcionaste anteriormente */

